extends ./layout.pug
block content
  h1 superheroes
  div.container
  p This displays superhero information 
  each item in superheroes
    div.superhero-container
      h4=item.name
      a(href="/superheroes/" + item.id) details

