extends ./layout.pug
block content
  h1 superheroes
  p This displays superhero information 
  include ./create.pug

  each superhero in documents
    div.superhero-container
      a(href="/superheroes/" + superhero._id) Details
        img(src='/img/superheroes/' + superhero.image) 
        h3=superhero.name
        a(href="/edit/" + superhero._id) Edit
        br
        a(href="/delete/" + superhero._id) Delete
        
        


      