extends ./layout.pug

block content
  h1 superheroes Detail Page
    img(src='/img/superheroes/' + superhero.image)
    h3= superhero.name
    p= superhero.description
    p= superhero.color
    p= superhero.weather
