span{
    color: rgb(44, 14, 211);
}

div{
    color: cadetblue;
}

*{
    color: rgb(255,127,80);
}

div[name="day"]{
    color: #ff0;
}

a:visited{
    color:rgb(28, 172, 76);
}

a:hover{
    color: violet;
}